@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Play");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  background-color: #f8f8f8;
  font-family: "Lato", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-weight: 300; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin: 0 auto; }

.justify {
  text-align: justify; }

.hidden-sm, .hidden-md {
  display: none; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8; }

.top-nav .top-menu {
  width: 100%; }
  .top-nav .top-menu .menu {
    margin-top: 3px;
    list-style: none;
    float: right; }
    .top-nav .top-menu .menu li {
      display: inline-block;
      padding-right: 20px; }
      .top-nav .top-menu .menu li a:link,
      .top-nav .top-menu .menu li a:visited {
        color: #f8f8f8;
        text-decoration: none; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

.row {
  position: relative;
  width: 100%; }
  .row [class^="cols"] {
    float: left;
    margin: .5rem 2%;
    min-height: .125rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 39.9375em) {
    .container {
      max-width: 60em; } }
  @media only screen and (min-width: 40em) and (max-width: 71.25em) {
    .container {
      width: 100%;
      min-width: 40em;
      max-width: 70.3125em; } }
  @media only screen and (min-width: 71.25em) {
    .container {
      max-width: 71.250em; } }

.cols-1-lg,
.cols-2-lg,
.cols-3-lg,
.cols-4-lg,
.cols-5-lg,
.cols-6-lg,
.cols-7-lg,
.cols-8-lg,
.cols-9-lg,
.cols-10-lg,
.cols-11-lg,
.cols-12-lg {
  width: 96%; }

.cols-1-sm {
  width: 4.33333%; }

.cols-2-sm {
  width: 12.66667%; }

.cols-3-sm {
  width: 21%; }

.cols-4-sm {
  width: 29.33333%; }

.cols-5-sm {
  width: 37.66667%; }

.cols-6-sm {
  width: 46%; }

.cols-7-sm {
  width: 54.33333%; }

.cols-8-sm {
  width: 62.66667%; }

.cols-9-sm {
  width: 71%; }

.cols-10-sm {
  width: 79.33333%; }

.cols-11-sm {
  width: 87.66667%; }

.cols-12-sm {
  width: 96%; }

@media only screen and (min-width: 40em) and (max-width: 60em) {
  .cols-1-md {
    width: 4.33333%; }
  .cols-2-md {
    width: 12.66667%; }
  .cols-3-md {
    width: 21%; }
  .cols-4-md {
    width: 29.33333%; }
  .cols-5-md {
    width: 37.66667%; }
  .cols-6-md {
    width: 46%; }
  .cols-7-md {
    width: 54.33333%; }
  .cols-8-md {
    width: 62.66667%; }
  .cols-9-md {
    width: 71%; }
  .cols-10-md {
    width: 79.33333%; }
  .cols-11-md {
    width: 87.66667%; }
  .cols-12-md {
    width: 96%; }
  .hidden-sm {
    display: block; } }

@media only screen and (min-width: 60em) {
  .cols-1-lg {
    width: 4.33333%; }
  .cols-2-lg {
    width: 12.66667%; }
  .cols-3-lg {
    width: 21%; }
  .cols-4-lg {
    width: 29.33333%; }
  .cols-5-lg {
    width: 37.66667%; }
  .cols-6-lg {
    width: 46%; }
  .cols-7-lg {
    width: 54.33333%; }
  .cols-8-lg {
    width: 62.66667%; }
  .cols-9-lg {
    width: 71%; }
  .cols-10-lg {
    width: 79.33333%; }
  .cols-11-lg {
    width: 87.66667%; }
  .cols-12-lg {
    width: 96%; }
  .hidden-md {
    display: block; } }

.site-header {
  position: relative;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.99); }
  .site-header .logo {
    color: #f8f8f8; }

.off-canvas-wrapper {
  width: 100%;
  overflow: hidden; }
  .off-canvas-wrapper .off-canvas-left {
    position: absolute;
    height: 100%;
    top: 59px;
    left: 0;
    background-color: #23272D;
    transition: all .5s ease-in-out;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    -webkit-transform: none;
            transform: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 9999; }
    .off-canvas-wrapper .off-canvas-left .sidebar {
      width: 60px;
      height: 100vh;
      background-color: #23272D;
      z-index: 9999; }
      .off-canvas-wrapper .off-canvas-left .sidebar.expand {
        width: 200px;
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        transition: all .4s ease-in-out;
        background-color: #23272D;
        z-index: 9999; }
        .off-canvas-wrapper .off-canvas-left .sidebar.expand .menu {
          list-style: none; }
          .off-canvas-wrapper .off-canvas-left .sidebar.expand .menu li {
            width: 200px;
            padding-left: 0.1rem;
            text-align: left; }
            .off-canvas-wrapper .off-canvas-left .sidebar.expand .menu li .collapse {
              position: absolute;
              left: -140px;
              padding-left: 0.4rem;
              display: inline-block;
              transition: all .25s ease-in-out;
              -webkit-transform: translate3d(200px, 0, 0);
                      transform: translate3d(200px, 0, 0);
              -webkit-transform: translateX(200px);
                      transform: translateX(200px);
              vertical-align: middle; }
      .off-canvas-wrapper .off-canvas-left .sidebar .menu {
        list-style: none; }
        .off-canvas-wrapper .off-canvas-left .sidebar .menu i {
          font-size: 1.2rem;
          color: #939cab;
          text-align: left;
          padding-left: 10px;
          display: inline-block;
          line-height: 1;
          display: inline-block;
          vertical-align: middle;
          transition: all .2s ease-in; }
        .off-canvas-wrapper .off-canvas-left .sidebar .menu li {
          width: 60px; }
          .off-canvas-wrapper .off-canvas-left .sidebar .menu li .collapse {
            display: none;
            transition: all .25s ease-in; }
        .off-canvas-wrapper .off-canvas-left .sidebar .menu li a:link,
        .off-canvas-wrapper .off-canvas-left .sidebar .menu li a:visited {
          display: block;
          line-height: 1;
          font-family: 'Play', sans-serif;
          text-align: left;
          color: #939cab;
          padding: 12px 7px;
          border-left: 3px solid transparent;
          font-size: .9rem;
          transition: all .2s ease-in; }
        .off-canvas-wrapper .off-canvas-left .sidebar .menu li a:hover,
        .off-canvas-wrapper .off-canvas-left .sidebar .menu li a:active {
          background-color: #14161a;
          border-left: 3px solid #00bff5;
          color: #00bff5;
          outline: none; }
          .off-canvas-wrapper .off-canvas-left .sidebar .menu li a:hover i,
          .off-canvas-wrapper .off-canvas-left .sidebar .menu li a:active i {
            color: #00bff5; }
  .off-canvas-wrapper .off-canvas-left ~ .off-canvas-content {
    transition: all 0.5s ease-in-out; }
  .off-canvas-wrapper .off-canvas-left.sidebar.expand {
    transition: all .5s ease-in-out; }
  .off-canvas-wrapper .off-canvas-content {
    width: 100%;
    margin-left: 60px; }
  .off-canvas-wrapper .expand ~ .off-canvas-content {
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    -webkit-transform: translateX(200px);
            transform: translateX(200px); }
  .off-canvas-wrapper .is-open {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    margin-left: 0;
    transition: all .5s ease-in-out; }
  .off-canvas-wrapper .is-close {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translate3d(10, 0, 0);
            transform: translate3d(10, 0, 0);
    transition: all .5s ease-in-out;
    margin-left: 60px; }
