//general style

$body-font-family: 'Lato', Helvetica, sans-serif;
$global-font-size: 100%;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$global-lineheight: 1.5;
$body-font-size: 1.125rem;


//Colors
$white: #f8f8f8;