*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: $white;
  font-family: $body-font-family;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-weight: $font-weight-light;
  
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
	margin: 0 auto;
}
.justify{
	text-align: justify;
}
.hidden-sm, .hidden-md{
	display: none;
}