*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: $white;
  font-family: 'Lato', 'Arila', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-weight: 300;
}